<!DOCTYPE html>
<html>
<header>
 <title>Create a Figure</title>
 <style>
div {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: black;
    clear: left;
    text-align: center;
}
   
article {
    margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}
</style>
</header>

<body>
 <article>
   <h3>Create a New Figure:</h3>
   <form action="/figures" method="POST">
    
    <label for="figure_name">Name:</label>
    <input type="text" name="figure[name]" id="figure_name">
    <br><br>
    
    <label for="title_name">Create New Title:</label>
    <input type="text" name="title[name]" id="new_title">
    
    <br><br>
    
    <h3>Create a New Landmark:</h3>
    <label for="landmark_name">Landmark Name:</label>
    <input type="text" name="landmark[name]" id="new_landmark">
    <label for="year_completed">Year Completed:</label>
    <input type="text" name="landmark[year_completed]" id="year_completed">
    
    <br><br>
    <h3>Choose Existing Titles:</h3>
    <%Title.all.each do |title|%>
    <label><%=title.name%></label>
    <input type="checkbox" name="figure[title_ids][]" value="<%=title.id%>" id="title_<%=title.id%>">
    <%end%>
    
    <br><br>
    <h3>Choose Existing Landmarks:</h3>
    <%Landmark.all.each do |landmark|%>
    <label><%=landmark.name%></label>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="landmark_<%=landmark.id%>">
    <%end%>
    
    <br><br>
    
    <input type="submit" value="Create New Figure">
   </form>
  
</article>
</body>
</html>